\#3/node_modules
\#3/.env
\#3/config.js
\#4/node_modules
\#4/.env
\#5/.env
\#5/node_modules
\#6/.env
\#6/node_modules
\#8/count_server/node_modules
\#8/book_server/node_modules
\#9ts/node_modules
\#9/count_server/node_modules
\#9/book_server/node_modules
\#11/node_modules
\#11/tsconfig.tsbuildinfo
\#12/node_modules
\final-project
\nestjs-ext/node_modules
\nestjs-ext/dist
\nestjs-db/node_modules
\nestjs-db/.env
\nestjs-db/dist
\rxjs/node_modules
\rxjs/.env
\rxjs/dist
